[submodule "util"]
	path = projects/util
	url = git@github.com:rsl-org/util
[submodule "config"]
	path = projects/config
	url = git@github.com:rsl-org/config
[submodule "test"]
	path = projects/test
	url = git@github.com:rsl-org/test
[submodule "project-template"]
	path = project-template
	url = git@github.com:rsl-org/project-template
[submodule "projects/doc"]
	path = projects/doc
	url = git@github.com:rsl-org/doc
