[submodule "util"]
	path = projects/util
	url = git@github.com:rsl-org/util
[submodule "config"]
	path = projects/config
	url = git@github.com:rsl-org/config
[submodule "test"]
	path = projects/test
	url = git@github.com:rsl-org/test
[submodule "project-template"]
	path = projects/project-template
	url = git@github.com:rsl-org/project-template
[submodule "projects/serialize"]
	path = projects/serialize
	url = git@github.com:rsl-org/serialize
[submodule "projects/assert"]
	path = projects/assert
	url = git@github.com:rsl-org/assert
