[submodule "util"]
	path = projects/util
	url = git@github.com:rsl-org/util
[submodule "config"]
	path = projects/config
	url = git@github.com:rsl-org/config
[submodule "test"]
	path = projects/test
	url = git@github.com:rsl-org/test
[submodule "project-template"]
	path = template
	url = git@github.com:rsl-org/project-template
[submodule "projects/xml"]
	path = projects/xml
	url = git@github.com:rsl-org/xml
[submodule "projects/json5"]
	path = projects/json5
	url = git@github.com:rsl-org/json5
[submodule "projects/kwargs"]
	path = projects/kwargs
	url = git@github.com:rsl-org/kwargs
[submodule "projects/log"]
	path = projects/log
	url = git@github.com:rsl-org/log
[submodule "infra/conan"]
	path = infra/conan
	url = git@github.com:rsl-org/conan
[submodule "infra/docker-p2996"]
	path = infra/docker-p2996
	url = git@github.com:rsl-org/docker-p2996
[submodule "extensions/vscode-test"]
	path = extensions/vscode-test
	url = git@github.com:rsl-org/vscode-test
[submodule "projects/rpc"]
	path = projects/rpc
	url = git@github.com:rsl-org/rpc
